@model IEnumerable<WebCRUDMVCSQL.Models.Pessoas>

@{
    ViewData["Title"] = "Index";
}

<h1>Pessoas</h1>

<table class="table">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
@*                 <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
 *@                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>


<style>
    .row {
    }

    table {
        border-collapse: separate;
        border-spacing: 0 8px;
        margin-top: -8px;
    }

    td {
        border: 1px solid #f791b6;
        border-left-width: 0;
        min-width: 120px;
        height: 18px;
        color: black;
        font-size: 17px;
    }

        td:first-child {
            border-left-width: 1px;
        }

    tbody {
        background-color: #f791b6;
    }
</style>
